@model IEnumerable<Produto_VendaVM>

@{
    ViewBag.Title = "_byVenda";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Produtos_Vemdas", new { Href = "#", data_toggle = "modal", data_target = "#produto_vendaModal", data_url = Url.Action("Edit", "Produtos_Vendas", new { id = item.Id}) }) |
                @Html.ActionLink("Delete", "Delete", "Produtos_Vendas", new { Href = "#", data_toggle = "modal", data_target = "#produto_vendaModal", data_url = Url.Action("Delete", "Produtos_Vendas", new { id = item.Id }) })
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="produto_vendaModal" tabindex="-1" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal">Produto_Venda</h4>
            </div>
            <div class="modal-body" id="produto_vendaModalBody"></div>
        </div>
    </div>
</div>
